<div class="container">

  <div class="row">
    <h1>New Prediction</h1>

    <%= render 'form', prediction: @prediction, station_id: params[:station_id] %>

    <%= link_to 'Back', root_path, class: 'btn btn-default' %>

  </div>
</div>
