<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Don't get lost without a bike, predict how many bikes will be available!</p>

    <%= link_to 'New prediction', new_prediction_path, class: 'btn btn-default' %>

  </div>
</div>

<div class="container">

  <div class="row">
    <h2>Velib stations</h2>


    Display a map.

  </div>
</div>
